server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: "*"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
            allowed-headers: "*"

      routes:
        - id: identity-service
          uri: http://localhost:8082
          predicates:
            - Path=/auth/**

        - id: core-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/**